body {
    font-family: 'Roobek', sans-serif;
  }
  
/*cabeçalho*/
header img {
    height: 70px;
    width: 70px;
}

/* Cor personalizada para o navbar */
.navbar-custom {
    background-color: #E9ECEF;
  }
  
  /* Cor personalizada para os links do navbar */
  .navbar-custom .nav-link {
    color: #000000;
    font-family: 'Roobek', sans-serif;
  }
  
  /* Cor personalizada para o hover nos links do navbar */
  .navbar-custom .nav-link:hover {
    color: #3F5585;
  }
  
  /* Cor personalizada para o link selecionado do navbar */
  .navbar-custom .nav-link.active {
    color: #6A2C47;
  }
  

/*Conteudo principal*/

main {
    min-height: 500px;
}

/* Cor personalizada para os botões */
.btn-custom {
    color: white;
    background-color: #3F5585;
    border-color: #3F5585; /* Define a cor da borda */
  }
  
  /* Cor personalizada para o hover */
  .btn-custom:hover {
    color: white;
    background-color: #6A2C47;
    border-color: #6A2C47; /* Define a cor da borda no hover */
  }
  
  
/*banner*/

#section-banners img {
    height: 500px;
}


/*Produtos vendidos*/

#section-vendidos {
    text-align: center;
}

#section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
}

#section-vendidos img {
    height: 300px;
    border-radius: 10px;
}

#section-vendidos .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#section-vendidos .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
}



/*Rodapé*/
footer {
    text-align: center;
}

footer p {
    font-weight: bold;
    padding: 10px;
}


/*Botão Voltar topo*/
 #voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 50px;
 }

/* Cor personalizada para o botão "Voltar ao topo" */
.btn-custom-vat {
    color: #3F5585;
    border-color: #3F5585;
  }
  
  /* Cor personalizada para o hover no botão "Voltar ao topo" */
  .btn-custom-vat:hover {
    background-color: #3F5585;
    border-color: #3F5585;
  }
  

/********** página de login  */

#section-login {
    margin-top: 100px;
}

#section-login h1 {
    text-align: center;
}

#section-login input {
    width: 100%;
}


/* Formulário de cadastro*/

#section-cadastro {
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

#form-cadastrar {
    padding: 50px;
    display: none;
}